body{
	font-family:'Arial',sans-serif;
	margin:0px;
}
.header{
	background-color:#ACF;
	font-size:18px;
	padding-top:8px;
	padding-bottom:4px;
	color:#345;
}
.content{
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
}
.logo{
	width:40px;
	height:32px;
}
.username{
	float:right;
	cursor: pointer;
}
.account-menu{
	position:absolute;
	border:1px solid #469;
	background-color:#fff;
	display:none;
}
.account-menu>a{
	display:block;
	text-decoration:none;
	padding:5px;
	color:black;
}
.account-menu>a:hover{
	background-color:#BBB;
}
.menu{
	background-color:#68B;
	font-size:20px;
}
.menuentry{
	padding:18px;
	display:inline-block;
	color:#BDF;
	text-decoration:none;
}
.menuentry:hover{
	padding:18px;
	display:inline-block;
	color:#BDF;
	text-decoration:none;
	background:#79C;
}
.active-menuentry{
	background:#469;
}
.active-menuentry:hover{
	background:#57A;
}
.body{
	margin-top:12px;
	font-size:12px;
	color:#345;
}
.body a{
	text-decoration:none;
	color:#345;
}
.body p a,input[type="submit"]{
	padding:12px;
	margin:4px;
	text-decoration:none;
	font-size:150%;
	background-color:#ACF;
	border-radius:4px;
	border:1px solid #68B;
	display:inline-block;
	color:#345;
	cursor: pointer;
}
.body a:hover,input[type="submit"]:hover{
	background-color:#BDF;
}
.boxes3{
	text-align:center;
}
.boxes3>.box{
	margin-left:1%;
	margin-right:1%;
	margin-bottom:10px;
	padding:2%;
	display:inline-table;
	width:26%;
	background-color:#CCC;
}
.box>.boxheader{
	margin-bottom:12px;
	text-align:left;
	font-weight:bold;
	font-size:150%;
}
.boxes2{
	text-align:center;
}
.boxes2>.box{
	margin-left:1%;
	margin-right:1%;
	margin-bottom:10px;
	padding:2%;
	display:inline-table;
	width:43%;
	background-color:#CCC;
}
.menuicon{
	display:none;
}
.boxicon{
	margin-right: -18px;
	position: relative;
	left: -38px;
	display:inline-block;
}
.boxicon>img{
	width:18px;
	height:18px;
}
@media screen and (max-width: 500px) {
    .boxes2>.box, .boxes3>.box{
        display:block;
		width:96%;
		padding:2%;
		margin-left:0px;
		margin-right:0px;
		margin-bottom:10px;
		min-height:0px;
    }
	.menu{
		display:none;
	}
	.menuentry{
		display:block;
	}
	.menuentry:hover{
		display:block;
	}
	.menuicon{
		display:inline-block;
		float:right;
		width:40px;
		height:40px;
		background-image: url("../gfx/menu.png");
		cursor: pointer;
	}
	.username{
		display:none;
	}
}
.box>img{
	margin:4%;
}
.box>.gallerypic{
	width:40%;
}
.box>.gallerynopic{
	width:88%;
}
.box>input[type="text"],.box>input[type="password"],.box>input[type="file"]{
	font-size: 28px;
	width:90%;
	margin-bottom:10px;
	font-family:'Courier New','Arial',sans-serif;
	font-weight: bold;
}
form.box{
	text-align:left;
}
textarea{
	width:100%;
}
.msg-success{
	background-color:#AFA;
	border-radius:4px;
	border:1px solid #6B8;
	display:block;
	padding:10px;
	color:#354;
	margin-bottom:6px;
}
.msg-fail{
	background-color:#FAA;
	border-radius:4px;
	border:1px solid #B68;
	display:block;
	padding:10px;
	color:#534;
	margin-bottom:6px;
}
.piccontainer{
	text-align:justify
}
.piccontainer>img{
	height:150px;
}
.statusbar{
	vertical-align: top;
	height:148px;
	width:148px;
	display:inline-block;
	border:1px solid black;
}
.progressBar>div{
	background-color:#75FF6C;
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-right:1px solid black;
}
